<a href="https://colab.research.google.com/github/AhmedCoolProjects/PythonScraping/blob/main/SJsonFilesForJinaep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
semester = pd.read_excel('/content/MODULES_S2-converti.xlsx')
semester.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   MODULES                8 non-null      object
 1   ELEMENTS DE MODULES    18 non-null     object
 2   % D'ELEMENT DU MODULE  18 non-null     float64
 3   % DU MODULE            8 non-null      float64
dtypes: float64(2), object(2)
memory usage: 704.0+ bytes

In [ ]:
semester.head(10)

                              MODULES  ... % DU MODULE
0    M 2.1‐ INGENIERIE DOCUMENTAIRE 1  ...        0.12
1                                 NaN  ...         NaN
2      M 2.2‐ TRAITEMENT DOCUMENTAIRE  ...        0.12
3                                 NaN  ...         NaN
4  M 2.3‐ MANAGEMENT POUR L'INGENIEUR  ...        0.15
5                                 NaN  ...         NaN
6                                 NaN  ...         NaN
7              M 2.4‐ BASE DE DONNEES  ...        0.15
8                                 NaN  ...         NaN
9                                 NaN  ...         NaN

[10 rows x 4 columns]

In [ ]:
# modifier les indices
is_nan_ = semester['MODULES'].isnull()
_indexs = []
def fn(i):
  if is_nan_[i]:
    return _indexs[-1]
  else:
    return i
for i in range(len(semester)):
  x_ = fn(i)
  _indexs.append(x_)
__indexs = list(set(_indexs))
for i,n in enumerate(_indexs):
  _indexs[i] = __indexs.index(n)
semester.index = _indexs
semester.head(10)

                              MODULES  ... % DU MODULE
0    M 2.1‐ INGENIERIE DOCUMENTAIRE 1  ...        0.12
0                                 NaN  ...         NaN
1      M 2.2‐ TRAITEMENT DOCUMENTAIRE  ...        0.12
1                                 NaN  ...         NaN
2  M 2.3‐ MANAGEMENT POUR L'INGENIEUR  ...        0.15
2                                 NaN  ...         NaN
2                                 NaN  ...         NaN
3              M 2.4‐ BASE DE DONNEES  ...        0.15
3                                 NaN  ...         NaN
3                                 NaN  ...         NaN

[10 rows x 4 columns]

In [ ]:
semester.head(10)

                              MODULES  ... % DU MODULE
0    M 2.1‐ INGENIERIE DOCUMENTAIRE 1  ...        0.12
0                                 NaN  ...         NaN
1      M 2.2‐ TRAITEMENT DOCUMENTAIRE  ...        0.12
1                                 NaN  ...         NaN
2  M 2.3‐ MANAGEMENT POUR L'INGENIEUR  ...        0.15
2                                 NaN  ...         NaN
2                                 NaN  ...         NaN
3              M 2.4‐ BASE DE DONNEES  ...        0.15
3                                 NaN  ...         NaN
3                                 NaN  ...         NaN

[10 rows x 4 columns]

In [ ]:
# modifier les noms des colonnes
semester.columns = ['module','el-module','coef_el-module','coef_module']
# separer les modules et les elements de modules.
module_df = semester[['module','coef_module']].dropna()
el_module_df = semester[['el-module','coef_el-module']]
# ajouter la colonne _id, modefier les noms et les colonnes
module_df.columns = ['name','coef']
module_df['_id'] = list(map(lambda x: x[:5], module_df.name))
module_df['name'] = list(map(lambda x: x[7:], module_df.name))
el_module_df.columns = ['name','coef']
el_module_df['_id'] = list(map(lambda x: x[:7], el_module_df.name))
el_module_df['name'] = list(map(lambda x: x[9:], el_module_df.name))
# creer les listes module_list et el_module_list
module_list,el_module_list = [], []
for i in module_df.index:
  module_list.append(module_df.loc[i].values.tolist())
  el_module_list.append(el_module_df.loc[i].values.tolist())
print(module_list[0])
print(el_module_list[0])
print('---------')
print(len(module_list),len(el_module_list))

['INGENIERIE DOCUMENTAIRE 1', 0.12, 'M 2.1']
[['DESCRIPTION DES DOCUMENTS(MARC ET METADONNEES)(28)', 0.6, 'M 2.1.1'], ['ANALYSE DOCUMENTAIRE(20)', 0.4, 'M 2.1.2']]
---------
8 8

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
import json
s2 = {
    "modules":module_list,
    "el_modules":el_module_list
}
with open("s2.json","w") as fl:
  json.dump(s2,fl)